<html>
		<head>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prize Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		  <style>
  body {
  .container-fluid {
	padding-top: 90px;
	padding-bottom: 90px;
  }
  }
		  </style>	</head>
			<body>
{% block body_content %}




{% endblock body_content %}
			</body>
</html>
